body {
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #333333;
    line-height: 1
}
h3 {
    font-size: 21px;
    color: #000000;
    font-weight: bold
}
h2 {
    font-size: 30px;
    color: #000000;
    font-weight: bold
}
.results-sort-by {
    color: #000000;
    opacity: 30%;
    text-decoration: none;
    border-bottom: 1px dashed #000000
}
.results-sort-by-selected {
    color: #81b3d2;
    opacity: 100%;
    text-decoration: none;
    border-bottom: 1px dashed #000000
}
fieldset {
    font-size: 14px;
    font-weight: normal
}
legend {
    font-size: 16px;
    font-weight: bold
}